*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/build/*
.idea/*
openCVLibrary330/build/*
/captures
.externalNativeBuild
